body {
  background-image: url(../img/bg.jpg);
  color: #523637;
}
#mainNav {
  background-color: #a0c4ff;
}
.bg-faded {
  background-color: #a0c4ff;
}
.footer {
  background-color: #a0c4ff;
}
#mainNav .navbar-brand {
  color: #fdffb6;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #fdffb6;
  font-weight: 800;
}
.btn-primary {
  background-color: #ffc6ff;
  border-color: #ffc6ff;
  color: #888;
}
.btn-primary:hover {
  color: #888;
  background-color: #fdffb6;
  border-color: #fdffb6;
}

.cta {
  background-color: rgb(255, 191, 255, 0.6);
}
.site-heading .site-heading-lower {
  font-size: 2rem;
  color: #c43d16;
  font-weight: 500;
}
.site-heading .site-heading-upper {
  display: block;
  font-size: 4rem;
  font-weight: 800;
  color: #fd9a7e;
  text-decoration: none;
}
.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}
.text-faded {
  color: #fdffb6;
}
