* {
  box-sizing: border-box;
}
body {
  background-image: url(../img/bg.jpg);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, sans-serif;
}
main {
  flex: 1 0 auto;
}
.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.blueberry {
  background-color: #a0c4ff;
}
.cakepop-icon {
  color: #ffc6ff;
}
.cakepop {
  background-color: #ffc6ff;
}

.button:hover {
  background-color: #9bf6ff;
}
footer {
  background-color: #a0c4ff;
  padding: 20px;
  color: honeydew;
  text-align: center;
  font-weight: 700;
}
.social {
  font-size: 1.5rem;
  padding: 4px;
  color: #ffd6a5;
}
.social:hover {
  color: #fdffb6;
}
h3 {
  color: #4db6ac;
  font-weight: bold;
}
.flashes h4 {
  line-height: 2;
}

/* Home page carousel */
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
  margin-top: 40px;
}

/* Caption text */
.text {
  background-color: #f2f2f2;
  color: #4db6ac;
  font-size: 28px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 3s ease-in-out;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
