/* Utility */
* {
  box-sizing: border-box;
}
body {
  background-image: url(../img/bg.jpg);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, sans-serif;
}
main {
  flex: 1 0 auto;
}
footer {
  padding: 20px;
  color: honeydew;
  text-align: center;
  font-weight: 700;
}

.social {
  font-size: 1.5rem;
  padding: 4px;
  color: #ffd6a5;
}
.social:hover {
  color: #fdffb6;
}
h3 {
  color: #4db6ac;
  font-weight: bold;
}
h4,
h5 {
  color: #c2185b;
  font-weight: 700;
}

h6 {
  color: white;
  font-weight: 700;
}
.flashes h4 {
  line-height: 2;
}

/* home page */
nav .nav-wrapper {
  padding-top: 20px;
}
#logo {
  width: 60px;
  height: 60px;
}
.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.blueberry {
  background-color: #a0c4ff;
}
.cakepop-icon {
  color: rgb(170, 27, 27);
}
.cakepop {
  background-color: #ffc6ff;
}
.fact {
  font-size: 1.5rem;
  background: RGBA(254, 214, 57, 0.3);
  color: darkgreen;
}

/* home page grid images */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* register/log in page */
.card-color {
  background-color: RGB(253, 255, 182, 0.5);
}
.button:hover {
  background-color: #9bf6ff;
}

/* recipes page */
.recipes {
  display: flex;
  flex-wrap: wrap;
}
.slider {
  margin-top: 20px;
}
.recipe-name {
  margin-top: 40px;
}
/* recipes display image overlay ref: W3school
 https://www.w3schools.com/howto/howto_css_image_overlay_icon.asp */

.recipe-container {
  position: relative;
  width: 100%;
  max-width: 200px;
  margin: 15px;
}

/* Make the image to responsive */
.recipe-image {
  width: 200px;
  height: 200px;

  border: 5px solid #fdffb6; /* yellow border */
  border-radius: 5px; /* Rounded border */
}

/* The overlay effect (full height and width) - 
lays on top of the container and over the image */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
}

/* When you mouse over the container, fade in the overlay icon*/
.recipe-container:hover .overlay {
  opacity: 1;
}

/* The icon inside the overlay is positioned in the middle vertically
 and horizontally */
.icon {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  display: block;
  cursor: pointer;
  margin-top: 15px;
}

/* When you move the mouse over the icon, change color */
.fa-user:hover {
  color: #eee;
}

/* My recipes page */
.add_recipe {
  margin: 50px;
}

/* Add recipe page */

::placeholder {
  color: #000;
}

.add-btn {
  position: absolute;
  margin-left: 80%;
}
.btn-container {
  position: relative;
}
.cancel-btn {
  position: absolute;
  margin-left: 60%;
}
#add-recipe-form {
  padding: 20px;
  margin-bottom: 40px;
}
/* full recipe page */
.flex-wrapper {
  display: flex;
  margin: 30px;
}
.recipe-img {
  width: 20vw;
  height: auto;
}
.flex-items {
  margin: 50px;
}
/* Responsive layout  */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  #column-3,
  #column-4 {
    display: none;
  }
  h3 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.8rem;
  }
  .flex-wrapper {
    display: block;
  }
  .recipe-img {
    width: 50vw;
    height: auto;
  }
  label img {
    width: 40px;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  #column-2,
  #column-3,
  #column-4 {
    display: none;
  }

  h3 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1rem;
    word-wrap: break-word;
  }
  label img {
    width: 30px;
    height: auto;
    margin-right: 20px;
  }
}
@media screen and (max-width: 414px) {
  .recipe-img {
    margin-left: 0;
    width: 35vw;
    height: auto;
  }
  .flex-wrapper {
    margin: 5px;
  }
}

@media screen and (max-width: 375px) {
  label img {
    width: 28px;
    padding: 0;
  }
  .add-btn {
    font-size: 10px;
  }
}
@media screen and (max-width: 335px) {
  label img {
    display: none;
  }
}
@media screen and (max-width: 331px) {
  nav .brand-logo {
    font-size: 1.6rem;
  }
  .fact {
    font-size: 1.2rem;
  }
}
