{% extends "base.html" %} {% block content %}
<h3 class="center-align">Upload Recipe</h3>
<!-- Upload Recipe form -->
<form
  id="add-recipe-form"
  class="container col s12 m6 card-color"
  method="POST"
  action="{{ url_for('add_recipe') }}"
>
  <!-- Select smoothie category  -->
  <div class="row">
    <label class="col s1">
      <img
        src="{{url_for('static', filename='img/category.png') }}"
        alt="list-items"
      />
    </label>
    <div class="col s11">
      <select
        class="icons validate"
        id="category_name"
        name="category_name"
        required
      >
        <option value="" disabled selected>Choose Category</option>
        {% for category in categories %}
        <option value="{{ category.category_name }}">
          {{- category.category_name -}}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <!-- Smoothie name -->
  <div class="row">
    <label class="col s1" for="smoothie_name"
      ><img
        src="{{url_for('static', filename='img/name.png') }}"
        alt="juice-and-fruit"
    /></label>
    <div class="col s11">
      <input
        class="validate"
        id="smoothie_name"
        name="smoothie_name"
        placeholder=" Smoothie Name"
        type="text"
        minlength="5"
        maxlength="50"
        required
      />
    </div>
  </div>
  <!-- Smoothies ingredients -->
  <div class="row">
    <label class="col s1" for="new-ingredient"
      ><img
        src="{{url_for('static', filename='img/ingredients.png') }}"
        alt="basket-of-ingredients"
    /></label>
    <div class="col s11">
      <input
        class="validate"
        id="new-ingredient"
        name="new-ingredient"
        type="text"
        minlength="3"
        maxlength="60"
        placeholder="Ingredient"
        required
      />
      <button type="button" class="btn-small" id="add" onclick="createInput()">
        Add Ingredient
      </button>
      <ul id="ingredients-list" name="ingredients-list"></ul>
    </div>
  </div>
  <!-- Smoothie method -->
  <div class="row">
    <label class="col s1" for="method"
      ><img
        src="{{url_for('static', filename='img/method.png') }}"
        alt="cooking-pot"
    /></label>
    <div class="col s11">
      <textarea
        class="materialize-textarea validate"
        id="method"
        name="method"
        type="text"
        minlength="5"
        maxlength="250"
        placeholder="Method"
        required
      ></textarea>
    </div>
  </div>
  <!-- Smoothie image url -->
  <div class="row">
    <label class="col s1" for="image_url"
      ><img src="{{url_for('static', filename='img/image.png') }}" alt="photo"
    /></label>
    <div class="col s10">
      <input
        id="image_url"
        name="image_url"
        type="text"
        placeholder="Image URL"
        required
      />
    </div>
    <div class="col s1">
      <i
        class="fas fa-question-circle tooltipped"
        data-position="top"
        data-tooltip="Find an image online. Right click, copy image address and paste the link here."
      ></i>
    </div>
  </div>
  <div class="row btn-container">
    <button class="btn-small add-btn" type="submit">
      Upload <i class="fas fa-plus-square"></i>
    </button>
  </div>
</form>
{% endblock %}
