{% extends "base.html" %} {% block content %}
<section class="recipe-header">
  <!-- materilize  slider -->
  <!-- https://materializecss.com/carousel.html -->
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="static/img/smoothie-2.jpg" />
        <div class="caption center-align">
          <h3>Green Smoothies</h3>
          <h5>Cleanse and detoxifying!</h5>
        </div>
      </li>
      <li>
        <img src="static/img/superfood.jpg" />
        <div class="caption left-align">
          <h3>Superfood Smoothies</h3>
          <h5>Full of Protein and nutrients!</h5>
        </div>
      </li>
      <li>
        <img src="static/img/smoothie-3.jpg" />
        <div class="caption right-align">
          <h3>Immune Boost Smoothies</h3>
          <h5>Defense and Protect!</h5>
        </div>
      </li>
      <li>
        <img src="static/img/smoothie-6.jpg" />
        <div class="caption center-align">
          <h3>Weight Loss Smoothies</h3>
          <h5>Help you lossing inches!</h5>
        </div>
      </li>
      <li>
        <img src="static/img/smoothie-5.jpg" />
        <div class="caption center-align">
          <h3>Kiddylicious Smoothies</h3>
          <h5>Best friend for the sweet teeth buddies!</h5>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- search bar -->
<section class="search-bar">
  <div class="row teal lighten-4">
    <form action="{{ url_for('search') }}" method="POST" class="col s12">
      <div class="row center-align">
        <div class="input-field col s12 m8">
          <i class="fas fa-search prefix"></i>
          <input
            type="text"
            name="query"
            id="query"
            minlength="3"
            class="validate"
            required
          />
          <label for="query">Search Recipes</label>
        </div>
        <div class="col s12 m4 btn-margin">
          <a href="{{ url_for('all_recipes') }}" class="btn-small">Reset</a>
          <button type="submit" class="btn-small">Search</button>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- display all recipes  -->
<section class="recipes">
  <!-- * recipes display image overlay ref: W3school
 https://www.w3schools.com/howto/howto_css_image_overlay_icon.asp */ -->
  {% if recipes|length >0 %} {% for recipe in recipes %}
  <div class="recipe-container">
    <img
      src="{{ recipe.image_url }}"
      alt="smoothie-image"
      class="recipe-image"
    />
    <div class="overlay">
      <h6 class="recipe-name center-align">{{ recipe.smoothie_name }}</h6>
      <a href="{{ url_for('full_recipe',recipe_id=recipe._id) }}" class="icon">
        <i class="fas fa-eye"> View Recipe</i>
      </a>
      {% if session.user|lower == recipe.created_by|lower %}
      <a href="{{ url_for('edit_recipe',recipe_id=recipe._id) }}" class="icon">
        <i class="fas fa-edit"> Edit</i>
      </a>
      <a
        href="{{ url_for('delete_recipe',recipe_id=recipe._id) }}"
        class="icon"
      >
        <i class="fas fa-trash-alt"> Delete</i>
      </a>
      {% endif %}
    </div>
  </div>
  {% endfor %} {% else %}
  <h5 class="center-align">No Results Found</h5>
  {% endif%}
</section>
<!-- pagination -->
<!-- https://gist.github.com/mozillazg/69fb40067ae6d80386e10e105e6803c9 -->
<!-- https://stackoverflow.com/questions/27992413/how-do-i-calculate-the-offsets-for-pagination/27992616 -->
<section class="pagination">
  <div class="row">
    <div class="col s12 center-align">{{ pagination.links }}</div>
  </div>
</section>
{% endblock %}
