{% extends "base.html" %} {% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img
      class="img-fluid rounded about-heading-img mb-3 mb-lg-0"
      src="static/img/about.jpg"
      alt="..."
    />
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper"
                >Fresh Smoothie, Full of Nutrition</span
              >
              <span class="section-heading-lower"
                >Health Benefits of Smoothies</span
              >
            </h2>
            <h5>Helps You Lose Weight</h5>
            <p>
              Smoothies can help you lose excess body weight without skipping
              any meals. The fruits and berries that are used to prepare these
              drinks serve as excellent companions for keeping you healthy and
              feeling cooler on a hot summer morning. The enzymes present in
              several fruits help dissolve body fat and clear up your
              circulatory system.
            </p>
            <h5>Prevents Dehydration</h5>
            <p>
              Water is the most abundant thing both on earth and in your body.
              About 70 percent of your body is water. Having smoothies along
              with breakfast is a great way to replenish the loss of water in
              your body during the summer.
            </p>
            <h5>Makes You Feel Full</h5>
            <p>
              People trying to lose weight often skip the morning meal and end
              up snacking on food in larger amounts between meals. To avoid
              this, experts advise having smoothies made of excellent fruits and
              flavors so that you stay full for a long time.
            </p>
            <h5>Controls Cravings</h5>
            <p>
              Smoothies are full of nutrients and flavor. They are an essential
              part of the best breakfast in Edmond, as they provide a
              power-packed start for the day. A lot of protein along with many
              nutrients subdue food cravings and keep you away from eating junk
              food.
            </p>
            <h5>Aid In Digestion</h5>
            <p>
              Green smoothies that contain a lot of green leafy vegetables add
              essential vitamins and minerals to breakfast and aid in digestion.
              The fiber supplied by these drinks multiplies the benefits of
              having a delicious breakfast, especially during the summer.
            </p>
            <h5>Source of Antioxidants</h5>
            <p>
              Green tea is a popular source of antioxidants. You can add matcha
              green tea powder to make your smoothies rich in antioxidants, and
              these will help prevent a lot of diseases. Grapes, berries and
              sweet potatoes are natural sources of antioxidants.
            </p>
            <h5>Enhances Immunity</h5>
            <p>
              Immunity refers to the ability of your body to fight against
              pathogens and diseases. This natural potential becomes degenerated
              due to several reasons. Interestingly, having smoothies made of
              ingredients that include nutrients like beta-carotene helps boost
              your immune system.
            </p>
            <h5>Curbs Sleep Disorders</h5>
            <p>
              People belonging to different age groups around the world often
              face issues related to lack of sleep and restlessness. A healthy
              breakfast accompanied by a smoothie made of bananas, kiwi and oats
              provides calcium and magnesium in good amounts. This induces sleep
              and helps maintain healthy sleeping patterns.
            </p>
            <h5>Improves Skin</h5>
            <p>
              As you may know, food containing carotenoids, like mango and
              pumpkin, are highly beneficial for skin and complexion. Therefore,
              smoothies that contain these ingredients help you keep glowing in
              the summer.
            </p>
            <h5>Provides Liquid Food Benefits</h5>
            <p>
              Health and nutrition experts worldwide suggest consuming liquid
              food for better digestion. Smoothies contain blended fruits and
              vegetables in liquid form that make it easier for the body to
              break them down.
            </p>
            <h5>Detoxifies the Body</h5>
            <p>
              Foods like garlic, papaya and beets help cleanse your blood and
              get rid of several toxins accumulated in your body tissues. Thus
              to have a great breakfast you should include smoothies as reliable
              detoxifying drinks every day.
            </p>
            <h5>Boosts Brain Power</h5>
            <p>
              It is quite evident that that certain fruits and vegetables
              increase brain power and boost memory. Mental alertness and
              concentration is greatly enhanced by ingredients like coconut that
              are rich in omega-3 fatty acids. Smoothies with these ingredients
              help the brain work faster.
            </p>
            <h5>Controls Mood Swings</h5>
            <p>
              Organic fruits and vegetables serve as excellent stress busters.
              Smoothies made of fresh ingredients relieve stress and help you
              stay happier and healthier.
            </p>
            <h5>Fights Depression</h5>
            <p>
              Fresh vegetables and fruits that are rich in folic acid, like
              broccoli, spinach and bananas, help keep depression at bay.
              Patients suffering from depression are advised to eat healthy
              breakfasts, and smoothies can be very helpful for them.
            </p>
            <h5>Supplies Calcium</h5>
            <p>
              A regular intake of calcium in the right amount is essential for
              bone and tooth health. Moreover, it can affect hair growth and
              heart functioning too. Smoothies prepared with dairy or fortified
              dairy alternatives serve as great sources of calcium for the body.
            </p>
            <h5>Checks the Growth of Carcinogens</h5>
            <p>
              The growth of cancer-causing factors, or carcinogens, can be
              checked by controlling the growth of free radicals in the body.
              Fruits like strawberries, blueberries and grapes are rich in
              antioxidants that inhibit the growth of cancer-causing free
              radicals.
            </p>
            <h5>Provides a Good Amount of Fiber</h5>
            <p>
              The most common problem people suffer from today is related to
              upset bowels. A good amount of fibrous food is essential for
              regulating the excretory system so that you can enjoy summer
              without worrying about your health. Smoothies with a lot of fruits
              and vegetables help keep your bowels functioning smoothly.
            </p>
            <h5>Improves Bone Health</h5>
            <p>
              Calcium, vitamin D3 and vitamin K are nutrients that improve bone
              health. Smoothies rich in these nutrients contain spinach, green
              vegetables and citrus fruits as chief ingredients. So for the best
              breakfast in Edmond, you should try some cool smoothies that
              ensure your bones stay healthy forever.
            </p>
            <h5>Prevents Heart Disorders</h5>
            <p>
              Coronary diseases, or ailments related to heart, require
              nutrient-rich food along with appropriate medication. Timely
              breakfast that contains fat-free foods like oats and smoothies
              accompanied by regular exercising is the key for patients wishing
              to keep away from heart disorders.
            </p>
            <h5>Keeps Blood Sugar In Check</h5>
            <p>
              High blood sugar and diabetes are the most common lifestyle
              diseases that bother people all around the world. People who have
              imbalanced sugar levels in their blood are prone to several
              complications. Thus having a breakfast that is rich in nutrients
              but low in calories can make things easier. Smoothies full of
              fresh fruits and vegetables are apt choices to go for on hot
              summer mornings, as they make you feel full and happy without
              increasing your sugar intake.
            </p>
            <h5>Reduces Chances of Cancer</h5>
            <p>
              Several health reports published worldwide suggest that foods like
              cabbage, broccoli, and cauliflower are helpful in fighting against
              cancer. They attack free radicals and thus prevent cancer.
              Smoothies made of these ingredients prove really helpful in
              preventing cancer growth.
            </p>
            <h5>Balances Hormonal Functioning</h5>
            <p>
              Hormones play a large role in regulating our day-to-day functions.
              However, any imbalance in their respective levels can lead to
              grave repercussions. Moreover, a hormonal imbalance can invite
              several health hazards. Therefore, to keep your hormones working
              smoothly, all you need is a refreshing smoothie of your choice.
              This will make you feel cool and calm this summer.
            </p>
            <h5>Better Option Than Juice</h5>
            <p>
              On the last note, smoothies are always a better option than juice
              when it comes to health benefits. Juice is often free from the
              pulp of fruits and vegetables. In addition, peeling fruits or
              vegetables before putting them into a juicer makes them prone to
              germs and oxidation. Smoothies consist of every part of the
              ingredients, thus locking in all the goodness and wholesomeness of
              them. Therefore, smoothies are the best companions for your summer
              breakfast in Edmond.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
