{% extends "base.html" %} {% block content %} {% for category in categories %}
<div class="card">
  <div class="card-body">
    <h5>{{ category.category_title }}</h5>
    <h2>{{ category.category_name }}</h2>
  </div>
</div>
{% endfor%} {% for recipe in recipes %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ recipes.recipe_name }}</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
