{% extends "base.html" %} {% block content %}
<h3 class="center-align">Edit Recipe</h3>
<!-- Edit Recipe form -->
<form
  id="add-recipe-form"
  class="container col s12 m6 card-color"
  method="POST"
  action="{{ url_for('edit_recipe',recipe_id=recipe._id) }}"
>
  <!-- Edit smoothie category  -->
  <div class="row">
    <label class="col s1">
      <img
        src="{{url_for('static', filename='img/category.png') }}"
        alt="list-items"
      />
    </label>
    <div class="col s11">
      <select
        class="icons validate"
        id="category_name"
        name="category_name"
        required
      >
        <option value="" disabled>Choose Category</option>
        {% for category in categories %} {% if category._id ==
        recipe.category_name %}
        <option value="{{-category.category_name-}}" selected>
          {{-category.category_name-}}
        </option>
        {% else %}
        <option value="{{-category.category_name-}}">
          {{-category.category_name }}
        </option>
        {% endif%} {% endfor %}
      </select>
    </div>
  </div>
  <!-- Edit Smoothie name -->
  <div class="row">
    <label class="col s1" for="smoothie_name"
      ><img
        src="{{url_for('static', filename='img/name.png') }}"
        alt="juice-and-fruit"
    /></label>
    <div class="col s11">
      <input
        class="validate"
        id="smoothie_name"
        name="smoothie_name"
        placeholder="Smoothie Name"
        type="text"
        minlength="3"
        maxlength="60"
        value="{{-recipe.smoothie_name-}}"
        required
      />
    </div>
  </div>
  <!-- Edit ingredients -->
  <div class="row">
    <label class="col s1" for="new-ingredient"
      ><img
        src="{{url_for('static', filename='img/ingredients.png') }}"
        alt="basket-of-ingredients"
    /></label>
    <div class="col s11">
      <input
        class="validate"
        id="new-ingredient"
        name="new-ingredient"
        type="text"
        minlength="5"
        maxlength="60"
        placeholder="Ingredient"
        hidden
      />
      <button type="button" class="btn-small" id="add" onclick="createInput()">
        Add Ingredient
      </button>
      <ul id="ingredients-list" name="ingredients-list">
        {% for ingredient in recipe.ingredients %}
        <!-- recreate input field to loop through each ingredient for display -->
        <input
          class="validate"
          type="text"
          minlength="5"
          maxlength="60"
          name="new-ingredient"
          value="{{-ingredient-}}"
          placeholder=" Ingredient"
          id="ingredient_{{loop.index}}"
          required
        />
        <!-- recreated a delete buttion with each exsisting ingredient & link them -->
        <button
          type="button"
          class="btn-small delete-existing-ingredient"
          data-ingredient-id="ingredient_{{loop.index}}"
        >
          Delete
        </button>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- Edit method -->
  <div class="row">
    <label class="col s1" for="method"
      ><img
        src="{{url_for('static', filename='img/method.png') }}"
        alt="cooking-pot"
    /></label>
    <div class="col s11">
      <textarea
        class="materialize-textarea validate"
        id="method"
        name="method"
        type="text"
        minlength="5"
        maxlength="250"
        placeholder="Method"
        required
      >
{{ recipe.method }}</textarea
      >
    </div>
  </div>
  <!--  Edit Smoothie image url -->
  <div class="row">
    <label class="col s1" for="image_url"
      ><img src="{{url_for('static', filename='img/image.png') }}" alt="photo"
    /></label>
    <div class="col s11">
      <input
        id="image_url"
        name="image_url"
        type="text"
        value="{{ recipe.image_url }} "
        required
      />
    </div>
  </div>
  <!-- submit button -->
  <div class="row btn-container">
    <a
      href="{{ url_for('my_recipes',username=session['user']) }}"
      class="btn-small cancel-btn"
      type="submit"
    >
      Cancel <i class="fas fa-times-circle"></i>
    </a>
    <button class="btn-small add-btn" type="submit">
      Update <i class="fas fa-edit"></i>
    </button>
  </div>
</form>
{% endblock %}
