{% extends "base.html" %} {% block content %}
<h3 class="center-align">Edit Recipe</h3>
<!-- Edit Recipe form -->
<form
  id="add-recipe-form"
  class="container col s12 m6 card-color"
  method="POST"
  action="{{ url_for('edit_recipe',recipe_id=recipe._id) }}"
>
  <!-- Edit smoothie category  -->
  <div class="row">
    <label class="col s1">
      <img src="{{url_for('static', filename='img/category.png') }}" alt="" />
    </label>
    <div class="col s11">
      <select
        class="icons validate"
        id="category_name"
        name="category_name"
        required
      >
        <option value="" disabled>Choose Category</option>
        {% for category in categories %} {% if category.category_name ==
        recipe.category_name %}
        <option value="{{ category.category_name }} selected">
          {{-category.category_name-}}
        </option>
        {% else %}
        <option value="{{ category.category_name }}">
          {{-category.category_name-}}
        </option>
        {% endif%} {% endfor %}
      </select>
    </div>
  </div>
  <!-- Edit Smoothie name -->
  <div class="row">
    <label class="col s1" for="smoothie_name"
      ><img src="{{url_for('static', filename='img/name.png') }}" alt=""
    /></label>
    <div class="col s11">
      <input
        class="validate"
        id="smoothie_name"
        name="smoothie_name"
        placeholder=" Smoothie Name"
        type="text"
        minlength="5"
        maxlength="50"
        value="{{ recipe.smoothie_name }}"
        required
      />
    </div>
  </div>
  <!-- Edit ingredients -->
  <div class="row">
    <label class="col s1" for="new-ingredient"
      ><img src="{{url_for('static', filename='img/ingredients.png') }}" alt=""
    /></label>
    <div class="col s11">
      <input
        class="validate"
        id="new-ingredient"
        name="new-ingredient "
        type="text"
        minlength="5"
        maxlength="50"
        value="{{ recipe.ingredients }}"
        placeholder=" Ingredient"
        required
      />
      <button type="button" class="btn-small" id="add">Add Ingredient</button>
      <ul id="ingredients-list" name="ingredients-list"></ul>
    </div>
  </div>
  <!-- Edit method -->
  <div class="row">
    <label class="col s1" for="method"
      ><img src="{{url_for('static', filename='img/method.png') }}" alt=""
    /></label>
    <div class="col s11">
      <textarea
        class="materialize-textarea validate"
        id="method "
        name="method "
        type="text"
        minlength="5"
        maxlength="200"
        placeholder=" Method"
        required
      >
{{ recipe.method }}</textarea
      >
    </div>
  </div>
  <!--  Edit Smoothie image url -->
  <div class="row">
    <label class="col s1" for="image_url"
      ><img src="{{url_for('static', filename='img/image.png') }}" alt=""
    /></label>
    <div class="col s11">
      <input
        id="image_url"
        name="image_url"
        type="text"
        value="{{ recipe.image_url }} "
        required
      />
    </div>
  </div>
  <div class="row">
    <button class="btn-small add-btn" type="submit">
      Edit Recipe <i class="fas fa-edit right"></i>
    </button>
  </div>
</form>
{% endblock %}
