{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col s12">
    <div class="card-panel teal lighten-4 flex-wrapper">
      <section id="recipe-image" class="flex-items">
        <img
          class="recipe-img"
          src="{{ recipe.image_url }}"
          alt="smoothie-image"
        />
      </section>
      <section id="recipe-info">
        <div class="title">
          <h3 class="recipe-name">{{ recipe.smoothie_name }}</h3>
          <h6 class="created-by">Created by: {{ recipe.created_by }}</h6>
        </div>
        <div id="category">
          <h6>Category: {{ recipe.category_name }}</h6>
        </div>
        <div id="recipe_ingredients">
          <h5>Ingredients</h5>
          <ul>
            {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
            {% endfor %}
          </ul>
        </div>
        <div id="method">
          <h5>Method</h5>
          <p>{{ recipe.method }}</p>
        </div>
        <!-- https://www.w3schools.com/jsref/met_his_back.asp -->
        <button onclick="goBack()" class="btn-small" id="go-back-btn">
          <i class="fas fa-angle-double-left"></i> Back
        </button>
      </section>
    </div>
  </div>
</div>

{% endblock%}
