{% extends "base.html" %} {% block content %}
<section>
  <div class="row">
    <div id="column-1" class="column">
      <img src="static/img/smoothie-1.jpg" />
      <img src="static/img/smoothie-14.jpg" />

      <img src="static/img/smoothie-4.jpg" />
    </div>

    <div id="column-2" class="column">
      <img src="static/img/smoothie-16.jpg" />
      <img src="static/img/smoothie-15.jpg" />
    </div>

    <div id="column-3" class="column">
      <img src="static/img/smoothie-7.jpg" />
      <img src="static/img/smoothie-8.jpg" />
    </div>

    <div id="column-4" class="column">
      <img src="static/img/smoothie-13.jpg" />

      <img src="static/img/smoothie-9.jpg" />
    </div>
  </div>
</section>
<section>
  <p class="fact">
    Smoothies are full of nutrients and flavor. They are an essential part of
    the best breakfast in Edmond, as they provide a power-packed start for the
    day. A lot of protein along with many nutrients subdue food cravings and
    keep you away from eating junk food.
  </p>
</section>
{% endblock %}
