{% extends "base.html" %} {% block content %}
<h3 class="center-align">Welcome back {{ username.capitalize() }}!</h3>
<h4 class="center-align">My Recipes</h4>
<div class="add_recipe center-align">
  <a class="waves-effect waves-light btn" href="{{ url_for('add_recipe') }}"
    ><i class="fas fa-plus-square"></i> Upload Recipe</a
  >
</div>
<section class="recipes">
  {% for recipe in recipes %}
  <div class="recipe-container">
    <img
      src="{{ recipe.image_url }}"
      alt="smoothie-image"
      class="recipe-image"
    />
    <div class="overlay">
      <h6 class="recipe-name center-align">{{ recipe.smoothie_name }}</h6>
      <a href="{{ url_for('full_recipe',recipe_id=recipe._id) }}" class="icon">
        <i class="fas fa-eye"> View Recipe</i>
      </a>

      <a href="{{ url_for('edit_recipe',recipe_id=recipe._id) }}" class="icon">
        <i class="fas fa-edit"> Edit</i>
      </a>
      <a href="{ url_for('delete_recipe',recipe_id=recipe._id) }}" class="icon">
        <i class="fas fa-trash-alt"> Delete</i>
      </a>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
