{% extends "base.html" %} {% block content %}
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">Cleansing & Detoxifying</span>
            <span class="section-heading-lower">Green Smoothie</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="static/img/detox.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            Detoxifying is an important part of overall wellness. Cleansing your
            body will help it to maintain better digestive and immune health,
            boost energy, promote healthy hair and skin, and jump start your
            weight loss goals.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex me-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">High In Protein & Fiber</span>
            <span class="section-heading-lower">Superfood Smoothies</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="static/img/superfood.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex ms-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            Superfoods are nutrient-rich foods that are praised for providing
            concentrated doses of vitamins and minerals which are essential for
            optimal health. Superfoods are a legendary addition to any smoothie
            because they bulk up the nutrient content, while delivering
            unbeatable flavours when blended with the right ingredients.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">Vitamins & Immunity</span>
            <span class="section-heading-lower">Immune Boosting Smoothies</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="static/img/immune-boost.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            With an abundance of vitamin C, vitamin K, prebiotic fiber,
            flavonoids, polyphenol antioxidants, and minerals such as calcium,
            magnesium, and potassium, immune boosting smoothie is a nutrient
            powerhouse that promotes easy digestion and a healthy inflammatory
            response.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex me-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper"
              >Hyper-efficient & Fat-burning
            </span>
            <span class="section-heading-lower">Weight Loss Smoothies</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="static/img/weight-loss.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex ms-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            If you had the power to make your life better in just 30 seconds,
            would you use it? Well, that power is yours. With the simple push of
            a button, you can blend up weight loss smoothies that turn your body
            into a hyper-efficient fat-burning machine. Weight loss smoothies
            rev up your metabolism, tone and define your muscles, and turn off
            the genes that contribute to fat storage and a myriad chronic health
            issues.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">Sweet & Delicious</span>
            <span class="section-heading-lower">Kiddylicious Smoothies</span>
          </h2>
        </div>
      </div>
      <img
        class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
        src="static/img/kiddylicious.jpg"
        alt="..."
      />
      <div class="product-item-description d-flex me-auto">
        <div class="bg-faded p-5 rounded">
          <p class="mb-0">
            Colourful smoothies are an easy and pocket-friendly (not to mention
            delicious) way to get kids to drink up their fruits and veggies. You
            can use fresh or frozen fruit and veg to bulk up your smoothies and
            save on food waste. Pick your favourite fruity combination from our
            top five and whip up something the kids will love.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
